
.product-page-container
{
    text-align: center;
    overflow: hidden;
    display: flex;
}

.product-page-container 
.product-information-pane
{
    display: flow-root;
}
.product-page-container
.product-information-pane
.product-title-section
#product-name
{
    color: black !important;
    font-size: xx-large;
}

.product-page-container
.right-pane
#product-image
{
    max-width: 30vw;
}
.MuiRating-icon
{
    color: gray !important;
}
.MuiRating-iconFilled
{
    color: var(--blue) !important;
}
