body{
    background-color: whitesmoke;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-flow: column;

}
.head-title{
    display: block;
    color: white;
}
div.head-title h1{
    font-size: 5vh;
}
div.head-title p{
    text-align: center;
    font-size: 1.5 vh;
} 

.background-blue{
    background-color: var(--blue);
    padding-top: 20px;
}

div.popup{
    width: 70vw;
    align-self: center;
    margin: auto;
    display: none;
    color: black !important;
}
div.popup .alert{
    z-index: 5;
    box-shadow: 1px 1px 10px #d4edda;
}

.register-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: auto;
    min-width: auto;
    
    height: auto;

    margin: 5%;

    padding: 35px 70px;
    border: 5px solid transparent;
    box-shadow: 2px 2px 5px var(--blue);
    border-radius: 16px;

    background-color: white;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: auto;
    min-width: auto;
    
    height: auto;

    margin: 5%;

    padding: 35px 70px;
    border: 5px solid transparent;
    box-shadow: 2px 2px 5px var(--blue);
    border-radius: 16px;

    background-color: white;

}
form{
    color: gray;
}
form input{
    outline-color: transparent;
}
form .formInput{
    border-color: transparent;
    border-radius: 5px;
    min-height: 20px;
    box-shadow: 2px 2px 2px 2px lightgray;

    margin: 10px;
}
form input:focus{
    border-color: transparent;
}

form .submitBtn{
    align-self: center;
    border-color: transparent;
    border-style: outset;

    box-shadow: 2px 2px 2px 2px lightgray;

    min-width: 30px;
    min-height: 30px;
}
div.submitContainer{
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
}
form a{
    color: black !important;
}